<fieldset>


  <div id="card_form">

    <%= image_tag "creditcard.gif", :id => 'creditcard-image' %>
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div>
      <label for=""><%= t("card_number") %></label><br />
    </div>

  </div>

</fieldset>
