<a href="<%= paypoint_payment_order_checkout_url @order, :payment_method_id => payment_method %>" style="text-align: center;">
  <img src="http://www.paypoint.net/assets/images/logo.gif" align="left" style="margin-right:7px;"/>
</a>
